@media only screen and (max-width: 960px) and (min-width: 577px) {

.full_info_container_services{
    padding: 15px 15px 0px 15px;
    text-align: left;
    position: relative;
    float: left;
    height: 100vh;
}

/*Weird error with margin making blank space in the top*/

.line{
    border-bottom: 5px solid black;
}

.dropdown{
    display: none;
}

.Services_mobilecontent{
    width: 80vw;
    position: relative;
    float: left;

}

.alternativeServicesMenu{
    padding-top: 10%;
    background-position-x: center;
    position:relative;
    width: 16vw;
    height: 100vh;
    float:left;
    background-color: var(--main-color-LighterOpacity50);
}


.alternativeServicesMenu label{
    text-align: center;
    vertical-align: middle;
    position:relative;
    width: 100%;
    height: 20%;
    padding: 0% 5% 0% 5%;
    float:left;
}

.collapse_Services{
  cursor: pointer;
  background-position-y: middle;
}

.collapse_Services h3{
  font-size: 1.0em;
  
  text-align: center;
  vertical-align: middle;

}

.collapse_Services:hover{
    background-color: var(--main-color-Lighter);
}

input + div{
    display:none;
  }
  input:checked + div{
    display:block;
  }

    /*Images CSS Services page*/
    #BackgroundImageRB_Services{
        background-image: url(../Images/LejlighedsKompleks2.jpg);
        height: 100vh;
        min-width: 80vw;
        background-size: cover;
        position: absolute;
        background-position-x: center;
        background-position-y:center;
        overflow:hidden;
        z-index: -1;
        opacity: 0.2;
        display: inherit;
        background-repeat: no-repeat;
      }
    
      #BackgroundImageCB_Services{
        background-image: url(../Images/KontorByggeri1.jpg);
        height: 100vh;
        min-width: 80vw;
        background-size: cover;
        position: absolute;
        background-position-x: center;
        background-position-y:center;
        overflow: hidden;
        z-index: -1;
        opacity: 0.2;
        display: inherit;
        background-repeat: no-repeat;
      }
    
      #BackgroundImageIC_Services{
        background-image: url(../Images/FabriksByggeri2.jpg);
        height: 100vh;
        min-width: 80vw;
        background-size: cover;
        position: absolute;
        background-position-x: left;
        background-position-y:bottom;
        overflow: hidden;
        z-index: -1;
        opacity: 0.2;
        display: inherit;  
        background-repeat: no-repeat;
      }
    
      #BackgroundImageRC_Services{
        background-image: url(../Images/Vejbyggeri1.jpg);
        height: 100vh;
        min-width: 80vw;
        background-size: cover;
        position: absolute;
        background-position-x: left;
        background-position-y:center;
        overflow: hidden;
        z-index: -1;
        opacity: 0.2;
        display: inherit; 
        background-repeat: no-repeat;
      }

}