/*Main color scheme usage: var(--main-color)*/
:root {
  --main-color:#CB6A41;
  --main-color-Darkened:#aa5937;
  --main-color-Lighter:#ff8450;
  --main-color-LighterOpacity50:rgb(255, 132, 80, 0.5);
}

/*General CSS styling */

.hideElement{
  display: none;
}

