.collapse_Services{
    cursor: pointer;
    display: block;
    background: #cdf;
  }
  input + div{
    display:none;
  }
  input:checked + div{
    display:block;
  }

  .blok{
    width: 100px;
    height: 50px;
    background-color: black;
  }
  a{
    width: 100px;
    height: 50px;
    background-color: aqua;
  }

  label{
    width: 100px;
    height: 50px;
    background-color: aqua;
  }

  .hideElement{
    display: none;
  }

 
.dropbtn {
    background-color: #04AA6D;
    width: 100vw;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100vw;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    text-align: center;
    width: 100vw;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}