section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.projects-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.individual-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.project-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.textbox {
  background-color: #f1f1f1;
  padding: 15px;
  flex-grow: 1;
}

.project-img {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 767px) {
  section {
    margin-top: 50px;
  }
}

@media screen and (min-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
