h1 {
    margin-left: 10%;
    margin-top: 5%;
}
img {
    float: left;
    margin-top: 5%;
}
.tekstbox {
    height: 100px;
    background-color: lightgrey;
    position: relative;
    top: -40px;
    margin-left: 6.3%;
    z-index: 1000;
    display: none;
}
.mainimg {
    margin-top: 3%;
    margin-left: 6.3%;
    z-index: 1;
    display: none;
}
/*OverflowV to override main css on *{ overflow-x*/
.overflowV {
    overflow-x: visible;
    position: relative;
    z-index: 1;
}

.overlap {
    z-index: 2;
    margin-left: 10%;
}